<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <li>
            <a href="/Identity/Account/Logout">Afmelden</a> (@User.Identity.Name)
        </li>
    }
    else
    {
        <li>
            <a href="/Identity/Account/Login">Aanmelden</a>
        </li>
    }
</ul>
