@using Groeiproject.BL.Domain;
@model IEnumerable<Bakery>

@{
    ViewBag.Title = "All Bakeries";
}

<!DOCTYPE html>

<html>
<head>
    <style>
            table {
                width: 80%;
                margin: 20px auto;
                border-collapse: collapse;
            }
    
            th, td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
    
            th {
                background-color: saddlebrown;
                color: #fff;
            }
    
            tr:hover {
                background-color: sandybrown;
            }
        </style>
</head>
<body>
<h2>All Bakeries</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Adres</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Bakery bakery in Model)
        {
            <tr>
                <td>@bakery.Name</td>
                <td>@bakery.Adres</td>
                <td><a asp-controller="Bakery" asp-action="Details" asp-route-id="@bakery.Id">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>